<ion-header style="border-bottom: 1px solid #e0e0e0">
  <ion-navbar>
    <ion-title>
      司机备忘
    </ion-title>
    <ion-buttons end right>
      <button ion-button color="primery" (click)="write_note()" >添加新备忘></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  style="background-color: #f7f7f7">

  <ion-list>
    <div *ngFor="let item of list" >
      <ion-item-divider *ngIf=" item.date_of_day != 'length'? true:false">
        {{item.date_of_day}}
      </ion-item-divider>
      <ion-item *ngFor="let child of item.job">
        <div>{{child.time}}</div>
        <div>{{child.context}}</div>
      </ion-item>
    </div>
  </ion-list>

</ion-content>
