<ion-header>
  <ion-navbar>
    <ion-title>
      包车价
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #f6f6f6">
  <ion-list>
    <ion-item-divider>
      出发地
    </ion-item-divider>
    <ion-item class="partie">
      <ion-row>
        <ion-col width-100>
          <select style="width: 100%" (change)="test_select($event)" required>
            <option value="" disabled selected>选择所在省、直辖市、自治区</option>
            <option [value] ="prov.value" *ngFor="let prov of test_list">{{prov.name}}</option>
          </select>
        </ion-col>
      </ion-row>
    </ion-item>
    <pick_add [list]="first_menu" (selected)="first_menu_selected($event)" *ngIf="(first_menu != '') ? true:false"></pick_add>
    <pick_add [list]="second_menu" (selected)="second_menu_selected($event)" *ngIf="(second_menu != '') ? true:false"></pick_add>
    <pick_add [list]="third_menu" (selected)="third_menu_selected($event)" *ngIf="(third_menu != '') ? true:false"></pick_add>
    <pick_add [list]="fourth_menu" (selected)="fourth_menu_selected($event)" *ngIf="(fourth_menu != '') ? true:false"></pick_add>
    <ion-item-divider>
      目的地
    </ion-item-divider>
    <ion-item class="partie">
      <ion-row>
        <ion-col width-100>
          <select style="width: 100%" (change)="dest_test_select($event)" required>
            <option value="" disabled selected>选择所在省、直辖市、自治区</option>
            <option [value] ="prov.value" *ngFor="let prov of dest_test_list">{{prov.name}}</option>
          </select>
        </ion-col>
      </ion-row>
    </ion-item>
    <pick_add [list]="dest_first_menu" (selected)="dest_first_menu_selected($event)" *ngIf="(dest_first_menu != '') ? true:false"></pick_add>
    <pick_add [list]="dest_second_menu" (selected)="dest_second_menu_selected($event)" *ngIf="(dest_second_menu != '') ? true:false"></pick_add>
    <pick_add [list]="dest_third_menu" (selected)="dest_third_menu_selected($event)" *ngIf="(dest_third_menu != '') ? true:false"></pick_add>
    <pick_add [list]="dest_fourth_menu" (selected)="dest_fourth_menu_selected($event)" *ngIf="(dest_fourth_menu != '') ? true:false"></pick_add>

  </ion-list>
  <ion-row text-center style="padding-top: 5%">
    <ion-col width-25>
      日/元
    </ion-col>
    <ion-col width-75>
      <input type="text" style="border:none;border-bottom: 1px solid #e6e6e6;background-color: transparent;width: 90%">
    </ion-col>
  </ion-row>
  <ion-row text-center style="padding-top: 5%">
    <ion-col width-25>
      价格
    </ion-col>
    <ion-col width-75>
      <input type="text" style="border:none;border-bottom: 1px solid #e6e6e6;background-color: transparent;width: 90%">
    </ion-col>
  </ion-row>
  <ion-buttons style="padding-top: 5%">
    <button ion-button block color="danger" (click)="post()">保存</button>
  </ion-buttons>
</ion-content>
