<ion-header class="header">
  <ion-segment [(ngModel)]="sort">
    <ion-segment-button value="个人信息" (click)="load_person_info()">
      个人信息
    </ion-segment-button >
    <ion-segment-button value="车辆信息" (click)="load_car_info()">
      车辆信息
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content style="background-color: #f7f7f7">
  <ion-toolbar class="subheader">
    <ion-icon name ="ios-megaphone-outline"></ion-icon>
    <label>{{TotalMessage}}</label>
  </ion-toolbar>
  <show-message *ngIf="myBase" [heigh]="win.hei"></show-message>
  <div style="width: 100%;font-size: 22px;font-weight: 600;padding-top: 10px" *ngIf="myBase">
    <div style="float: right;color: red">{{total}}</div>
    <div style="float: right">余额总计:</div>
    </div>
  <div style="margin-top: 10%;" padding-horizontal >
    <button ion-button color="danger" round block (click)="change()">申请提款</button>
  </div>
  <div style="margin-top: 10%;" padding-horizontal >
    <button ion-button color="primary" round block (click)="logout()">退出登录</button>
  </div>
</ion-content>
