.header{
  padding: 10px;
  background-color: $headbar;
}
.subheader{
  background: $subheadbar;
  height: 6%;
}
.toolbar-background-ios {
  border-top-width: 0;
  border-bottom-width: 0;
}
.child{
  display: inline-block;
  float:left;
}
.child:last-of-type{
  float: right;
  margin-right: 20px;
}
.item{
  display: inline-flex;
  width: 100%;
  height: 13.2%;
  background-color: white;
}
.left{
  flex-grow: 9;
  justify-content: space-between;
  display: flex;
  align-content: space-between;
}
.right{
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-col{
  padding: 0;
}
.full{
  width: 100%;
  height: 100%;
}
